// Colors
$primary-color: #ffffff;
$secondary-color: #000000;
$background-color: #fff;
$text-color: #000;
$highlight-text-color: #fff;

// Button hover
$get-in-touch-hover-bg: #ffffff;
$get-in-touch-hover-text: #fff;
